/* thai */
@font-face {
  font-family: "Prompt";
  font-style: italic;
  font-weight: 100;
  font-display: swap;
  src: local("Prompt"), url(./Prompt-ThinItalic.ttf) format("truetype");
}
/* thai */
@font-face {
  font-family: "Prompt";
  font-style: italic;
  font-weight: 200;
  font-display: swap;
  src: local("Prompt"), url(./Prompt-ExtraLightItalic.ttf) format("truetype");
}
/* thai */
@font-face {
  font-family: "Prompt";
  font-style: italic;
  font-weight: 300;
  font-display: swap;
  src: local("Prompt"), url(./Prompt-LightItalic.ttf) format("truetype");
}
/* thai */
@font-face {
  font-family: "Prompt";
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: local("Prompt"), url(./Prompt-Italic.ttf) format("truetype");
}
/* thai */
@font-face {
  font-family: "Prompt";
  font-style: italic;
  font-weight: 500;
  font-display: swap;
  src: local("Prompt"), url(./Prompt-MediumItalic.ttf) format("truetype");
}
/* thai */
@font-face {
  font-family: "Prompt";
  font-style: italic;
  font-weight: 600;
  font-display: swap;
  src: local("Prompt"), url(./Prompt-SemiBoldItalic.ttf) format("truetype");
}
/* thai */
@font-face {
  font-family: "Prompt";
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: local("Prompt"), url(./Prompt-BoldItalic.ttf) format("truetype");
}
/* thai */
@font-face {
  font-family: "Prompt";
  font-style: italic;
  font-weight: 800;
  font-display: swap;
  src: local("Prompt"), url(./Prompt-ExtraBoldItalic.ttf) format("truetype");
}
/* thai */
@font-face {
  font-family: "Prompt";
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: local("Prompt"), url(./Prompt-Thin.ttf) format("truetype");
}
/* thai */
@font-face {
  font-family: "Prompt";
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: local("Prompt"), url(./Prompt-ExtraLight.ttf) format("truetype");
}
/* thai */
@font-face {
  font-family: "Prompt";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: local("Prompt"), url(./Prompt-Light.ttf) format("truetype");
}
/* thai */
@font-face {
  font-family: "Prompt";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("Prompt"), url(./Prompt-Regular.ttf) format("truetype");
}
/* thai */
@font-face {
  font-family: "Prompt";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: local("Prompt"), url(./Prompt-Medium.ttf) format("truetype");
}
/* thai */
@font-face {
  font-family: "Prompt";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: local("Prompt"), url(./Prompt-SemiBold.ttf) format("truetype");
}
/* thai */
@font-face {
  font-family: "Prompt";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local("Prompt"), url(./Prompt-Bold.ttf) format("truetype");
}
/* thai */
@font-face {
  font-family: "Prompt";
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: local("Prompt"), url(./Prompt-ExtraBold.ttf) format("truetype");
}
