/* thai */
@font-face {
  font-family: "RobotoMono";
  font-style: italic;
  font-weight: 100;
  font-display: swap;
  src: local("RobotoMono"), url(./RobotoMono-ThinItalic.ttf) format("truetype");
}

/* thai */
@font-face {
  font-family: "RobotoMono";
  font-style: italic;
  font-weight: 200;
  font-display: swap;
  src: local("RobotoMono"), url(./RobotoMono-ExtraLightItalic.ttf) format("truetype");
}

/* thai */
@font-face {
  font-family: "RobotoMono";
  font-style: italic;
  font-weight: 300;
  font-display: swap;
  src: local("RobotoMono"), url(./RobotoMono-LightItalic.ttf) format("truetype");
}

/* thai */
@font-face {
  font-family: "RobotoMono";
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: local("RobotoMono"), url(./RobotoMono-Italic.ttf) format("truetype");
}

/* thai */
@font-face {
  font-family: "RobotoMono";
  font-style: italic;
  font-weight: 500;
  font-display: swap;
  src: local("RobotoMono"), url(./RobotoMono-MediumItalic.ttf) format("truetype");
}

/* thai */
@font-face {
  font-family: "RobotoMono";
  font-style: italic;
  font-weight: 600;
  font-display: swap;
  src: local("RobotoMono"), url(./RobotoMono-SemiBoldItalic.ttf) format("truetype");
}

/* thai */
@font-face {
  font-family: "RobotoMono";
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: local("RobotoMono"), url(./RobotoMono-BoldItalic.ttf) format("truetype");
}

/* thai */
@font-face {
  font-family: "RobotoMono";
  font-style: italic;
  font-weight: 800;
  font-display: swap;
  src: local("RobotoMono"), url(./RobotoMono-ExtraBoldItalic.ttf) format("truetype");
}

/* thai */
@font-face {
  font-family: "RobotoMono";
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: local("RobotoMono"), url(./RobotoMono-Thin.ttf) format("truetype");
}

/* thai */
@font-face {
  font-family: "RobotoMono";
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: local("RobotoMono"), url(./RobotoMono-ExtraLight.ttf) format("truetype");
}

/* thai */
@font-face {
  font-family: "RobotoMono";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: local("RobotoMono"), url(./RobotoMono-Light.ttf) format("truetype");
}

/* thai */
@font-face {
  font-family: "RobotoMono";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("RobotoMono"), url(./RobotoMono-Regular.ttf) format("truetype");
}

/* thai */
@font-face {
  font-family: "RobotoMono";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: local("RobotoMono"), url(./RobotoMono-Medium.ttf) format("truetype");
}

/* thai */
@font-face {
  font-family: "RobotoMono";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: local("RobotoMono"), url(./RobotoMono-SemiBold.ttf) format("truetype");
}

/* thai */
@font-face {
  font-family: "RobotoMono";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local("RobotoMono"), url(./RobotoMono-Bold.ttf) format("truetype");
}

/* thai */
@font-face {
  font-family: "RobotoMono";
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: local("RobotoMono"), url(./RobotoMono-ExtraBold.ttf) format("truetype");
}