/* thai */
@font-face {
  font-family: "Sarabun";
  font-style: italic;
  font-weight: 100;
  font-display: swap;
  src: local("Sarabun"), url(./Sarabun-ThinItalic.ttf) format("truetype");
}
/* thai */
@font-face {
  font-family: "Sarabun";
  font-style: italic;
  font-weight: 200;
  font-display: swap;
  src: local("Sarabun"), url(./Sarabun-ExtraLightItalic.ttf) format("truetype");
}
/* thai */
@font-face {
  font-family: "Sarabun";
  font-style: italic;
  font-weight: 300;
  font-display: swap;
  src: local("Sarabun"), url(./Sarabun-LightItalic.ttf) format("truetype");
}
/* thai */
@font-face {
  font-family: "Sarabun";
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: local("Sarabun"), url(./Sarabun-Italic.ttf) format("truetype");
}
/* thai */
@font-face {
  font-family: "Sarabun";
  font-style: italic;
  font-weight: 500;
  font-display: swap;
  src: local("Sarabun"), url(./Sarabun-MediumItalic.ttf) format("truetype");
}
/* thai */
@font-face {
  font-family: "Sarabun";
  font-style: italic;
  font-weight: 600;
  font-display: swap;
  src: local("Sarabun"), url(./Sarabun-SemiBoldItalic.ttf) format("truetype");
}
/* thai */
@font-face {
  font-family: "Sarabun";
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: local("Sarabun"), url(./Sarabun-BoldItalic.ttf) format("truetype");
}
/* thai */
@font-face {
  font-family: "Sarabun";
  font-style: italic;
  font-weight: 800;
  font-display: swap;
  src: local("Sarabun"), url(./Sarabun-ExtraBoldItalic.ttf) format("truetype");
}
/* thai */
@font-face {
  font-family: "Sarabun";
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: local("Sarabun"), url(./Sarabun-Thin.ttf) format("truetype");
}
/* thai */
@font-face {
  font-family: "Sarabun";
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: local("Sarabun"), url(./Sarabun-ExtraLight.ttf) format("truetype");
}
/* thai */
@font-face {
  font-family: "Sarabun";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: local("Sarabun"), url(./Sarabun-Light.ttf) format("truetype");
}
/* thai */
@font-face {
  font-family: "Sarabun";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("Sarabun"), url(./Sarabun-Regular.ttf) format("truetype");
}
/* thai */
@font-face {
  font-family: "Sarabun";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: local("Sarabun"), url(./Sarabun-Medium.ttf) format("truetype");
}
/* thai */
@font-face {
  font-family: "Sarabun";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: local("Sarabun"), url(./Sarabun-SemiBold.ttf) format("truetype");
}
/* thai */
@font-face {
  font-family: "Sarabun";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local("Sarabun"), url(./Sarabun-Bold.ttf) format("truetype");
}
/* thai */
@font-face {
  font-family: "Sarabun";
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: local("Sarabun"), url(./Sarabun-ExtraBold.ttf) format("truetype");
}
